.bigboi {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    justify-content: space-around;
    align-content: space-around;
    
}

[class^="box"] {
    background: black;
    height: 24%;
}

.box1 {
    width: 99.5%
}

.box2 {
    width: 49.5%;
}

.box3 {
    width: 49.5%;
}

.box4 {
    width: 24.5%;
}

.box5 {
    width: 24.5%;
}

.box6 {
    
    width: 24.5%;
}

.box7 {
    width: 24.5%;
}

.box8 {
    width: 32.8%
}

.box9 {
    width: 32.8%
}

.box10 {
    width: 32.8%
}
